.task_body {
  padding: 10px;
  background-color: #edf7fc;
  border-radius: 0 0 3px 3px;
  border: 1px solid #eee;
}

.task_description > input {
  width: 95%;
}

.date_time {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

input {
  margin-top: 10px;
  font-size: 16px;
  padding: 8px;
}

.input-icons i {
  position: absolute;
}

.icon {
  padding: 10px;
  padding-top: 20px;
  padding-right: 0px;
  min-width: 40px;
}

.input-field {
  width: 88%;
  text-align: center;
}

/* .input-icon {
  background: url(../images/Double_Arrows.png) no-repeat scroll 7px 7px;
  padding-left: 30px;
} */

.assign_user {
  margin-top: 10px;
}

.assign_user > input {
  width: 95%;
}

.form_buttons {
  /* display: flex; */
  justify-content: flex-end;
}

.form_button.cancel {
  background-color: #edf7fc;
  color: #000;
  border: none;
}

.form_button {
  padding: 5px;
  font-size: 14px;
  margin-top: 10px;
  color: white;
  border-radius: 5px;
  height: 30px;
  width: 90px;
  background-color: #47bb7f;
}
